<h1>List of Cars</h1>
<table> 
<tr> 
<th>Reg. Number</th> 
<th>Model</th> 
<th>Type</th> 
<th>Colour</th> 
<th>Action list</th> 
</tr> <% for car in @cars %> <tr> 
<td><%=h car.regNum %></td> 
<td><%=h car.model %></td> 
<td><%=h car.carType %></td> 
<td><%=h car.colour %></td>
<td><%= link_to 'Show', car %>
</td> <td><%= link_to 'Edit', edit_car_path(car) %>
</td> <td><%= link_to 'Remove', car, :confirm => 'Are you sure?', :method => :delete %>
</td> </tr> 
<% end %> 
</table> <br /> 
<%= link_to 'Add New car', new_car_path %>
